.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 150px;
}

.display-container {
  width: fit-content;
  padding-left: 15%;
}

.form-wrapper {
  width: 50%;

  display: flex;
  margin-top: 35px;

  padding: 20px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 1px;
  background-color: #eee;
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-heading {
  margin-right: -150px;
  margin-top: -45px;
}

.form-field input {
  width: 100%;
  padding: 5px;

  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  min-height: 40px;
  box-sizing: border-box;
}

.error {
  color: red;
  display: block;
  margin-top: 5px;
}
